<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div *ngFor="let card of countedCards" class="card m-2 border-dark" style="float: left">
        <div *ngIf="card.counter > 1">
          <img class="card-img-top" [src]="card.icon" [alt]="card.name" style="max-width:250px">
          <div class="card-body">
            <p class="card-text">Lost to {{card.name}} <strong>{{card.counter}}x</strong></p>
            <a href="">Show more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>