/* You can add global styles to this file, and also import other style files */

.bg-img {
    background-image: url('/assets/bg_img.jpg');
    background-position: top;
    background-repeat: no-repeat; 
}